@import "tailwindcss";

@theme {
  --color-background: #f2f2f2; /* light */
  --color-foreground: #373737; /* dark */

  --color-primary: #4f0dce;
  --color-secondary: #5767d0;
  --color-accent: #7765da;

  --color-muted: #6e6e6e;
}
